.new-tweet {
  background-color: #eee;
  margin: 0 2em;
  overflow: auto;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.new-tweet h2 {
  text-align: left;
  border-bottom: 2px solid;
  margin: 10px;
}

.new-tweet textarea {
  box-sizing: border-box;
  width: 364px;
  padding: 5px;
  margin: 0 10px;
}

.new-tweet input {
  float: left;
  margin: 0 10px;
}

.counter {
  float: right;
  margin: 0 10px;
  font-style: italic;
}