.tweet {
  margin: 2em;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.tweet img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 5px;
  float: left;
}

.tweet header {
  overflow: auto;
  background-color: #eee;
}

.tweet h2 {
  color: #657E85;
  text-align: left;
  margin: 10px;
  float: left;
}

.tweet header span {
  color: #BFBFBF;
  float: right;
  margin: 10px;
}

.tweet article {
  clear: both;
  margin: 10px;
  padding: 20px 0;
  color: #234751;
}

.tweet footer {
  border-top: 1px solid lightgray;
  color: #234751;
}

.tweet footer span {
  float: left;
  margin: 10px;
}

.tweet footer i {
  float: right;
  padding: 12px 5px;
  color: #62C6B8;
}

.icons {
  visibility: hidden;
  float: right;
}

.tweet:hover {
  border: 1px solid darkgrey;
}

.tweet:hover h2 {
  color: #234751;
}

.tweet:hover header span {
  color: #7C7C7C;
}

.tweet:hover .icons {
  visibility: visible;
}
