.top-section {
  width: 300px;
  background-color: #eee;
  margin: 16px;
  overflow: auto;
  padding-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;

  h2 {
    text-align: left;
    border-bottom: 2px solid;
    margin: 10px;
  }

  textarea {
    box-sizing: border-box;
    width: 278px;
    padding: 5px;
    margin: 0 10px;
  }

  input {
    // float: left;
    margin: 0 10px;
  }

  .form-input {
    margin: 10px;

    input {
      float: right;
      width: 190px;
    }
  }

  p {
    clear: both;
    color: red;
    padding-left: 10px;
    padding-top:  10px;
  }

  .counter {
    float: right;
    margin: 0 10px;
    font-style: italic;
  }

  .invalid {
    color: red;
  }
}


